{% extends "base.html.twig" %}
{% block title %}Toutes les annonces
{% endblock %}
{% block body %}


<div class="row flex mt-5 led">
		{% for annonce in annonces %}
			<div class="col-sm-6 col-md-4">


				<div class="card-group mb-2">
					<div class="card">
						<img src="{{asset('logo/logo.PNG')}}" class="card-img-fluid img-thumbnail" alt="logo">
						<div class="card-body">
							<h5 class="card-title">{{annonce.clubName}}
							recherche un
							{{ annonce.title }}</h5>
							<p class="card-text">{{ annonce.content| u.truncate(500,'...',false)|raw  }}</p>
						</div>
						<button type="button" class="btn btn-primary btn-lg btn-block"><a href="{{path('app_annonce',{'id':annonce.id})}}">Lire la suite</a></button>
						
						<div class="card-footer">
							<small class="text-muted">{{ annonce.createdAt|date('d/m/y à h\\hi')}}
							par
							{{annonce.users.firstname}}
							{{annonce.users.name}}</small>
						</div>
						
					</div>
				</div>
</div>










			
		{% endfor %}
		<div>
			{{ knp_pagination_render(annonces) }}
		{% endblock %}
