
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<script src="https://kit.fontawesome.com/d413bfe1ed.js" crossorigin="anonymous"></script>
	</head>
	<body class="silver">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>

				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto ">


						<li class="nav-item dropdown align-item-center">
							<a class="nav-link dropdown-toggle deca" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								MENU
							</a>
							
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% if is_granted('ROLE_ADMIN') %}
									<a class="dropdown-item" href="{{path('users_annonces_ajout')}}">Nouvelle annonce</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('admin_categories_ajout')}}">nouvelle catégorie</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('users')}}">Administration club</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('admin_categoriehome')}}">Gestion categories</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('admin_annonceshome')}}">Gestion annonces
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('players_index')}}">Gestion joueurs
									</a>
								{% endif %}

						<li>		

					</ul>			

				</div>
<a href="{{path('app_home')}}">
					<h1 class="text-center">
						<em>Sport</em>
						<b style="color:red">
							Connect</b>
					</h1>
				</a>

				<ul class="nav ">
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
					</li>
				</ul>
			</nav>
		</header>
	
	
{# <div id="example-sidenav" class="sidenav large fixed white">
				<div class="sidenav-header">
					<button data-target="example-sidenav" class="sidenav-trigger">
						<i class="fas fa-times"></i>
					</button>
					<img class="logo dropshadow-1" src="{{asset('logo/logo.png')}}" alt="Logo"/>
				</div>
				<a href="#" class="sidenav-link active">Mon profil</a>
				{% if is_granted('ROLE_ADMIN') %}
				<a href="#" class="sidenav-link">Mes Annonces</a>
	{% endif %}
			</div>
	
		
				<button data-target="example-sidenav" class="btn press amaranth dark-1 sidenav-trigger hide-md-up">
					Open sidenav
				</button>
				 #}<main>
<div class="container"> {% block body %}{% endblock %}
	</main>
</div>
<footer class="bg-light text-center  pt-5 pb-5 ff ">
	Copyright ©
	{{'now'|date('d/m/Y')}}
	- Sport Connect Suivez-nous sur
	<a href="https://fr-fr.facebook.com/" target="_blank">
		<i class="fab fa-facebook"></i>
	</a>
	<a href="https://www.instagram.com/accounts/login/?hl=fr" target="_blank">
		<i class="fab fa-instagram" target="_blank"></i>
	</a>
	<a href="https://twitter.com/?lang=fr" target="_blank">
		<i class="fab fa-twitter"></i>
	</a>
</footer>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
<script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{{asset('js/scripts.js')}}"></script></body></html>
{% block javascripts %}{% endblock %}



















